:root {
  --lighter:  #ccc;
  --lightest: #fff;
  --darker:   #999;
  --darkest:  #444;
}

html   { background: red }
body   { background: var(--darkest) }
main   { background: var(--lightest) }
aside  { background: var(--lighter) }
header, footer { background: var(--darker) }

body { display: flex; flex-flow: column }
/* body > main, body > aside { flex: 1 } */
body > header, body > footer { height: 10vh }
