:root {
  --lighter:  #ccc;
  --lightest: #fff;
  --darker:   #999;
  --darkest:  #444;
}

html   { background: red }
body   { background: var(--darkest) }
main   { background: var(--lightest) }
aside  { background: var(--lighter) }
header, footer { background: var(--darker) }
